#container {
    width: 60%;
    height: 40%;
    margin-left: 20%;
    margin-top: 120%;
    position: absolute;
}

input {
    background-color: rgba(255, 255, 255, 0.85);
    width: 90%;
    height: 18%;
    font-size: x-large;
    margin-top: 2%;
    padding: 5%;
    border-radius: 10px;
    float: left;
}

button {
    background-color: #EC9063;
    width: 90%;
    height: 18%;
    padding: 5%;
    margin-top: 2%;
    margin-left: 5%;
    font-size: x-large;
    color: white;
    border-radius: 10px;
    float: left;
}

button:hover {
    transform: scaleY(1.2);
}

@media (min-width: 1024px) {
    #container {
        width: 20%;
        height: 40%;
        margin-left: 22%;
        margin-top: 14%;
        position: absolute;
    }
    input {
        background-color: rgba(255, 255, 255, 0.85);
        width: 90%;
        height: 18%;
        font-size: x-large;
        margin-top: 2%;
        padding: 5%;
        border-radius: 10px;
        float: left;
    }
    button {
        background-color: #EC9063;
        width: 90%;
        height: 18%;
        padding: 5%;
        margin-top: 2%;
        margin-left: 5%;
        font-size: x-large;
        color: white;
        border-radius: 10px;
        float: left;
    }
    button:hover {
        transform: scaleY(1.2);
    }
}