<div id="container">
   <div id="caratula">
      <img [src] = caratula alt="caratula album" width="90%" height="100%">
      <div id="botones">
         <button><img [src] = casset alt="casset" width="90%" height="80%" style="margin-top: 2%; margin-left: 5%;"></button>
         <button><img [src] = diskman alt="walkman" width="90%" height="80%" style="margin-left: 10%;"></button>
      </div>
   </div>
   <div id="formularios">
      <div id="conForm">
         <div id="fondForm">
         </div>
      </div>
   </div>
   <div id="resultados">
      <div id="conResultados">
         <div id="titulo">
            <img [src] = walkman alt="diskman" width="25%" height="90%" style="float: left;">
            <p>Resultados</p>
         </div>
      </div>
   </div>
   
</div>