<div id="container">

    <div class="sabias">
        <ul class="ul-fill">
            <li class="li-fill"><a href="#" class="a-fill">La música y los autos hicieron su evolución, tú solo sube el volumen y disfrutar el camino.</a>
                <ul class="banner1" id="ban1">
                    <div class="banner2">

                    </div>
                </ul>
            </li>
        </ul>
    </div>

    <div class="botAños">
        <ul class="menu">
            <li><a href="#"><button>1960</button></a>
                <ul class="banner1" id="ban1">
                    <div class="banner2">
                        <img src="../assets/img/jhon.jpg" alt="">
                        <p>
                            ¿Sabías que <b>Rolls-Royce </b> conmemoró el 50 Aniversario del lanzamiento del álbum <b>“Sgt. Pepper’s Lonely
                            Hearts Club Band” de The Beatles </b>exponiendo en Londres el famoso y colorido Phantom V que
                            fue en su día fue propiedad de John Lennon?

                        </p>

                    </div>
                </ul>
            </li>
        </ul>
    </div>
    <div class="botAños">
        <div class="container1">
            <ul class="menu">
                <li><a href="#"><button>1970</button></a>
                    <ul class="banner1" id="ban2">
                        <div class="banner3">
                            <img src="../assets/img/lotus.jpg" alt="">
                            <p>
                                ¿Sabías que el baterista de <b>Pink Floyd </b>era un amante de los autos?
                                En su colección se encuentra un <b>Lotus Elan</b> de 1970 dos puertas el cual
                                fue su primer auto de colección, lo más interesante es que el vehículo fue adquirido de segunda mano.

                            </p>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="botAños">
        <ul class="menu">
            <li><a href="#"><button>1980</button></a>
                <ul class="banner1" id="ban3">
                    <div class="banner4">
                        <img src="../assets/img/freddy.jpeg" alt="">
                        <p>
                            Sabías que <b>Freddy Mercury </b>era un coleccionista,entre sus favoritos habia un <b>Mercedes Benz 420 SEL y un El Rolls-Royce Silver Shadow </b>de 1974.
                            Durante la guerra de <b>Todo Terreno </b>en EEUU, adquirió un <b>Range Rover 1981 convertible</b>.

                        </p>
                    </div>
                </ul>
            </li>
        </ul>
    </div>

    <div class="botAños">
        <ul class="menu">
            <li><a href="#"><button>1990</button></a>
                <ul class="banner1" id="ban4">
                    <div class="banner5">
                        <img src="../assets/img/rx7.jpg" alt="">
                        <p>
                            En la época de los 90's casi 2000
                             <b>las carreras ilegales y la música electrónica</b>
                             eran grandes aliados, un Mazda RXT de 1992 con los motores rugiendo y el volumen alto era el sonido perfecto.

                        </p>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</div>