#container{
    background-color: #C6C6C6;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    float: left;
}

#izquierdo{
    background-color:#C75133;
    width: 40%;
    height: 90%;
    margin-top:2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    float: left;
}

#caratula{
    background-color: #C75133;
    width: 40%;
    height: 25%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    float: left;
}

img{
    width: 100%;
    height: 100%;
}
#resultado{
    background-color: #C75133;
    width: 60%;
    height: 65%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    float: left;
}

#canciones{
    background-color: white;
    width: 96%;
    height: 96%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    overflow: auto;
    float: left;
}

#canciones::-webkit-scrollbar {
	width: 15px;
	border-radius: 10px;	
}

#canciones::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to right,white,grey);
	border-radius: 5px;
}

#busHeader{
    background-color: transparent;
    width: 60%;
    height:20%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
}

#logoBusqueda{
    width: 30%;
    height: 100%;
    float: left;
}

#logoBusqueda:hover{
    transform: rotate(15deg);
}

#titBusqueda{
    width: 60%;
    height: 40%;
    margin-top: 12%;
    margin-left: 5%;
    font-size: xx-large;
    float: left;
}
#derecho{
    background-color: #C75133;
    width: 45%;
    height: 90%;
    margin-top: 2%;
    border-radius: 10px;
    float: left;
}

#mp3{
    background-image: url('../../../assets/img/fondo_reproduccion.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45%;
    height: 80%;
    margin-left: 3%;
    margin-top: 10%;
    overflow:auto;
    float: left;
}
#sonido{
        width: 100%;
        height: 82%;
        float: left;
}
#botReproduccion{
    width: 100%;
    height: 18%;
    float: left;
}
 button{
     width: 20%;
     height: 60%;
     margin-left: 4%;
     border-radius: 15%;
     float: left;
 }
#cancionAlbum{
    background-color: white;
    width: 45%;
    height: 80%;
    margin-left: 4%;
    margin-top: 10%;
    float: left;
}

#casset{
    width: 20%;
    height: 12%;
    margin-top: 5%;
    margin-left: 10%;
    float: left;
}
#casset:hover{
    transform: rotate(-15deg);
}
#tituloCancion{
    width: 60%;
    height: 12%;
    margin-top: 12%;
    font-size: xx-large;
    float: left;
}

#contenido{
    background-color:white;
    width: 90%;
    height: 75%;
    margin-left: 5%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    float: left;
}


#contenido::-webkit-scrollbar {
	width: 15px;
	border-radius: 10px;	
}

#contenido::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to right,white,grey);
	border-radius: 5px;
}
