<section class="noticias">
  <article class="main_content">
    <div class="cards-s-big"></div>
    <section class="s-categories-big" id="grafica">
      <h2 class="s-titulo-big">Mi Música</h2>
      <div class="s-container-big">

        <div class="full-card-big-1">
          <aside id="izquierdo">
            <div id="caratula">
              <div class="slider">
                <ul>
                  <li *ngFor="let canciones of canciones ">
                    <img src="{{ this.url + 'ObtenerCaratula/' + canciones.caratula }}" alt="caratulas">

                  </li>

                  <li *ngFor="let canciones of canciones">
                    <img src="{{ this.url + 'ObtenerCaratula/' + canciones.caratula }}" alt="caratulas">

                  </li>

                  <li *ngFor="let canciones of canciones">
                    <img src="{{ this.url + 'ObtenerCaratula/' + canciones.caratula }}" alt="caratulas">

                  </li>

                  <li *ngFor="let canciones of canciones">
                    <img src="{{ this.url + 'ObtenerCaratula/' + canciones.caratula }}" alt="caratulas">

                  </li>

                  
                </ul>
              </div>


            </div>
            <div id="resultado">
              <div id="canciones">
                <header id="busHeader">
                  <img [src]=logo_busqueda alt="logo de busqueda" id="logoBusqueda">
           
                </header>
                <section class="s-categories" id="grafica">
                  <h2 class="s-titulo">Albumes</h2>
                  <div class="s-container">
                 

                    <div *ngFor="let canciones of canciones ">
                    <div class="full-card">
                      <div class="card transition">
                        <div class="card_circle transition">
                         
                            <img src="{{ this.url + 'ObtenerCaratula/' + canciones.caratula }}" alt="caratulas"
                              class="logo">
                              <h2 class="transition">{{canciones.artista}}</h2>
                              <p>{{canciones.album}}</p>
                              <div class="cta-container transition" (click)="mostrarCanciones(canciones)"><a href="#contenido" class="cta">Música</a></div>
                        </div>
                       
                        
                       
                      </div>
                    </div>
                  </div>

                  </div>
                </section>
              </div>
            </div>

          </aside>
        </div>

        <div class="full-card-big-1">
          <aside id="izquierdo">
            <div id="resultado">
              <div id="canciones">
                <header id="busHeader">
                  <img [src]=cassete alt="casset" id="casset">
                  
                </header>
                <section class="s-categories" id="grafica">
                  <h2 class="s-titulo">Canciones</h2>
                  <div class="s-container">
                    <div id="sonido">
                      <div id="contenido">
                        <div class="cardCanciones" *ngFor=" let reproducir of reproducir">
                          <audio controls class="audio" src="{{ this.url + 'ObtenerCancion/' + reproducir.cancion}}">
                          </audio>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
  </article>
</section>