<div id="container">
    <aside id="izquierdo">
        <div id="caratula">
            <img [src] = caratula alt="caratula libro">
        </div>
        <div id="resultado">
            <div id="canciones">
                <header id="busHeader">
                    <img [src] = logo_busqueda alt="logo de busqueda" id="logoBusqueda">
                    <div id="titBusqueda">
                        Resultados
                    </div>
                </header>
            </div>
        </div>
    </aside>
    <aside id="derecho">
        <div id="mp3">  
            <div id="sonido">
            </div>
            <div id="botReproduccion">
                <button>Ret</button>
                <button>play</button>
                <button>paus</button>
                <button>adel</button>
            </div>
        </div>
        <div id="cancionAlbum">
            <img [src]= cassete alt="casset" id="casset">
            <div id="tituloCancion"> Reproducir</div>
            <div id="contenido">
            </div>
        </div>
    </aside>
</div>