#container {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 120%;
    position: absolute;
}

@media only screen and (min-width: 1024px) {
    #container {
        width: 20%;
        height: 40%;
        margin-left: 22%;
        margin-top: 19%;
    }
}

input {
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    height: 18%;
    font-size: x-large;
    margin-top: 2%;
    padding: 5%;
    border-radius: 10px;
    float: left;
}

button {
    background-color: #EC9063;
    width: 90%;
    height: 18%;
    padding: 5%;
    margin-top: 2%;
    margin-left: 5%;
    font-size: x-large;
    color: white;
    border-radius: 10px;
    float: left;
}