<div id="container">
    <div id="derechos">
        ©COPYRIGHT 2020. Hecho por Vicadisk Team. 
        Para Bictia Bootcamp. Todos los derechos reservados.  <br>
        <span *ngFor= "let img of imagen1" >
            <img [src]="img" class="logo"/></span> 
    </div>
    <div id="redes">
        <div id="titulo">
            Redes Sociales
        </div>
        <img [src] = redes[0] alt="facebook">
        <img [src] = redes[1] alt="twiter">
        <img [src] = redes[2] alt="instagram">
        <img [src] = redes[3] alt="youtube">
    </div>
</div>


